<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SP.MA.ApplicantMng.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SP.MA.ApplicantMng.My.MySettings>
            <setting name="applicantmng_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="applicantmng_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="applicantmng_frmLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="applicantmng_frmmainsplitter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="applicantmng_popup_Mediation_CommunicationData_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="applicantmng_popup_Mediation_AssessmentData_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="applicantmng_popup_LanguageAndProfession_VerbalLanguageData_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="applicantmng_popup_LanguageAndProfession_WrittenLanguageData_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="applicantmng_contactSearchExcludePhone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applicantmng_contactSearchExcludeMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applicantmng_contactSearchExcludeOffered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applicantmng_contactSearchExcludeSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applicantmng_MonthlySalary_Filter_OnlyCurrentYear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="applicantmng_properties_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="applicantmng_properties_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="applicantmng_properties_frmLocation" serializeAs="String">
                <value/>
            </setting>
        </SP.MA.ApplicantMng.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPEmployeeTaxInfoServiceSoap" />
                <binding name="SPALKUtilSoap" />
                <binding name="SPApplicationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/wsSPS_services/SPEmployeeTaxInfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPEmployeeTaxInfoServiceSoap"
                contract="EmployeeTaxInfoWebService.SPEmployeeTaxInfoServiceSoap"
                name="SPEmployeeTaxInfoServiceSoap" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPALKUtil.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPALKUtilSoap"
                contract="SPALKUtilWebService.SPALKUtilSoap" name="SPALKUtilSoap" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPApplication.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPApplicationSoap"
                contract="SPApplicationWebService.SPApplicationSoap" name="SPApplicationSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
