<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SP.Internal.Automations.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPCustomerPaymentServicesSoap" maxReceivedMessageSize="2147483647" />
                <binding name="SPJobPlattformsCreateXMLSoap" />
                <binding name="SPWOSCustomerUtilitiesSoap" maxReceivedMessageSize="2147483647" />
                <binding name="SPWOSEmployeeUtilitiesSoap" maxReceivedMessageSize="2147483647" />
                <binding name="SPNotificationSoap" closeTimeout="00:01:00" openTimeout="00:05:00"
                    receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="SPX28ProfilmatcherSoap" />
                <binding name="SPApplicationSoap" closeTimeout="00:01:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:09:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="51200" maxArrayLength="2147483647"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="SPBankUtilSoap" />
                <binding name="SPInternVacanciesSoap" />
                <binding name="SPApplicationSoap1" />
                <binding name="SPUpdateUtilitiesSoap" />
                <binding name="SPEmployeeTaxInfoServiceSoap" maxReceivedMessageSize="2147483647" />
                <binding name="SPALKUtilSoap" />
                <binding name="SPNotificationSoap1" />
                <binding name="eCallSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="eCallSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPCustomerPaymentServicesSoap"
                contract="SPCustomerPaymentServicesWebService.SPCustomerPaymentServicesSoap"
                name="SPCustomerPaymentServicesSoap" />
            <endpoint address="http://localhost/wsSPS_Services/SPJobPlattformsCreateXML.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPJobPlattformsCreateXMLSoap"
                contract="JobPlattformsVacancyService.SPJobPlattformsCreateXMLSoap"
                name="SPJobPlattformsCreateXMLSoap" />
            <endpoint address="http://localhost/wsSPS_services/SPWOSCustomerUtilities.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPWOSCustomerUtilitiesSoap"
                contract="SPWOSCustomerWebService.SPWOSCustomerUtilitiesSoap"
                name="SPWOSCustomerUtilitiesSoap" />
            <endpoint address="http://localhost/wsSPS_services/SPWOSEmployeeUtilities.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPWOSEmployeeUtilitiesSoap"
                contract="SPWOSEmployeeWebService.SPWOSEmployeeUtilitiesSoap"
                name="SPWOSEmployeeUtilitiesSoap" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="SPNotificationSoap"
                contract="SPNotificationWebService.SPNotificationSoap" name="SPNotificationSoap" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPX28Profilmatcher.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPX28ProfilmatcherSoap"
                contract="SPX28ProfilmatcherWebService.SPX28ProfilmatcherSoap"
                name="SPX28ProfilmatcherSoap" />
            <endpoint binding="basicHttpBinding" bindingConfiguration="SPApplicationSoap"
                contract="SPApplicationWebService.SPApplicationSoap" name="SPApplicationSoap" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPBankUtil.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPBankUtilSoap"
                contract="SPBankUtilWebService.SPBankUtilSoap" name="SPBankUtilSoap" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPInternVacanciesSoap"
                contract="InternVacancyService.SPInternVacanciesSoap" name="SPInternVacanciesSoap" />
            <endpoint address="http://localhost/wsSPS_Services/SPApplication.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPApplicationSoap1"
                contract="SPApplicationWebService.SPApplicationSoap" name="SPApplicationSoap1" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPUpdateUtilitiesSoap"
                contract="SPUpdateUtilitiesService.SPUpdateUtilitiesSoap"
                name="SPUpdateUtilitiesSoap" />
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPEmployeeTaxInfoServiceSoap"
                contract="EmployeeTaxInfoWebService.SPEmployeeTaxInfoServiceSoap"
                name="SPEmployeeTaxInfoServiceSoap" />
            <endpoint address="http://localhost/wsSPS_services/SPALKUtil.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPALKUtilSoap"
                contract="SPALKUtilWebService.SPALKUtilSoap" name="SPALKUtilSoap" />
            <endpoint address="http://localhost/wsSPS_services/SPNotification.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPNotificationSoap1"
                contract="SPNotificationWebService.SPNotificationSoap" name="SPNotificationSoap1" />
            <endpoint address="https://soap.ecall.ch/eCall.asmx" binding="basicHttpBinding"
                bindingConfiguration="eCallSoap" contract="SPeCallWebService.eCallSoap"
                name="eCallSoap" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <SP.Internal.Automations.Settings>
            <setting name="ecallLogs_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ecallLogs_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ecallLogs_frmLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Connstr_InfoService" serializeAs="String">
                <value>Password=password;Persist Security Info=True;User ID=GAVUser;Initial Catalog=Sputnik InfoSystem;Data Source=dbserver</value>
            </setting>
            <setting name="ConnStr_SputnikInfoSystem" serializeAs="String">
                <value>Password=password;Persist Security Info=True;User ID=username;Initial Catalog=Sputnik InfoSystem;Data Source=dbserver</value>
            </setting>
            <setting name="ConnStr_JobCh" serializeAs="String">
                <value>Password=password;Persist Security Info=True;User ID=username;Initial Catalog=spContract;Data Source=dbserver</value>
            </setting>
            <setting name="ecallLogs_lastselectedservice" serializeAs="String">
                <value/>
            </setting>
            <setting name="pm_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pm_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pm_frmLocation" serializeAs="String">
                <value/>
            </setting>
        </SP.Internal.Automations.Settings>
    </userSettings>
</configuration>
