<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPKD.Vakanz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPKD.Vakanz.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SPKD.Vakanz.My.MySettings>
            <setting name="ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="iRowCount_Region_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRowCount_Region_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmJobCHLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="ifrmJCHWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmJCHHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="popup_CustomerSize" serializeAs="String">
                <value/>
            </setting>
            <setting name="vac_textpagesplitter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vac_frmmainsplitter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="webcontrolurl" serializeAs="String">
                <value>http://spbl03/spsvacanciesfields/Default.aspx?lang={0}&amp;fontSize={1}</value>
            </setting>
            <setting name="sbnformsize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </SPKD.Vakanz.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><applicationSettings>
        <SPKD.Vakanz.My.MySettings>
            <setting name="SPKD_Vakanz_wsJobCH_SP_JobsCH_Util" serializeAs="String">
                <value>http://asmx.domain.com/wsSPS_services/SP_JobsCH_Util.asmx</value>
            </setting>
        </SPKD.Vakanz.My.MySettings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SPJobsCHVacanciesSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:44721/SPJobsCHVacancies.asmx" binding="basicHttpBinding" bindingConfiguration="SPJobsCHVacanciesSoap" contract="JobsCHVacancyService.SPJobsCHVacanciesSoap" name="SPJobsCHVacanciesSoap"/>
    </client>
  </system.serviceModel>
</configuration>
