<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
			<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SP.Main.Notify.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPApplicationSoap" />
                <binding name="SPApplicationSoap1" />
                <binding name="SPApplicationSoap2" />
                <binding name="SPScanJobUtilitySoap" />
            </basicHttpBinding>
        </bindings>

	<behaviors> 
    <endpointBehaviors> 
        <behavior name="ClientBehavior"> 
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/> 
        </behavior> 
    </endpointBehaviors> 
    </behaviors>

          <client>
                <endpoint address="http://asmx.domain.com/wsSPS_services/SPApplication.asmx"
                      binding="basicHttpBinding" bindingConfiguration="SPApplicationSoap1"
                      contract="SP.Main.Notify.SPApplicationSoap" name="SPApplicationSoap1" />
                <endpoint address="http://localhost/wsSPS_services/SPApplication.asmx"
                      binding="basicHttpBinding" bindingConfiguration="SPApplicationSoap2"
                      contract="SPApplicationWebService.SPApplicationSoap" name="SPApplicationSoap" />
                <endpoint address="http://localhost/wsSPS_services/SPScanJobUtility.asmx"
                      binding="basicHttpBinding" bindingConfiguration="SPScanJobUtilitySoap"
                      contract="SPScanJobWebService.SPScanJobUtilitySoap" name="SPScanJobUtilitySoap" />
          </client>
    </system.serviceModel>
    <userSettings>
        <SP.Main.Notify.My.MySettings>
            <setting name="reportScanFolders" serializeAs="String">
                <value/>
            </setting>
            <setting name="cvScanFolders" serializeAs="String">
                <value/>
            </setting>
        </SP.Main.Notify.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
