<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPS.MainView.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>	<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
				<assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7EB7C3A35B91DE04" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraGrid.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraBars.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>-->
		 <dependentAssembly>
    <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
    <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0"/>
   </dependentAssembly>
  </assemblyBinding>
	</runtime>
    <userSettings>
        <SPS.MainView.My.MySettings>
            <setting name="SETTING_CANDIDAT_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_CANDIDAT_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_CANDIDAT_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_CUSTOMER_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_CUSTOMER_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_CUSTOMER_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAIN_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAIN_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAIN_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_VACANCIES_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_VACANCIES_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_VACANCIES_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_PROPOSE_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_PROPOSE_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_PROPOSE_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ES_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_ES_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ES_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ES_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customer_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customer_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customer_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customer_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="candidate_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="candidate_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="candidate_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="candidate_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vacancies_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vacancies_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vacancies_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vacancies_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="propose_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="propose_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="propose_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="propose_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_RP_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_RP_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_RP_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="RP_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_scc_mainnav_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RP_scc_mainprop_1_2_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_RE_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_RE_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_RE_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="RE_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RE_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RE_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RE_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_GU_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_GU_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_GU_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="GU_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GU_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GU_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ZE_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ZE_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ZE_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="ZE_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZE_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZE_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_FOP_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_FOP_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_FOP_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="FOP_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FOP_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FOP_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAHN_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAHN_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAHN_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAHN_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAHN_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MAHN_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_KD_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_KD_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_KD_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="KD_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_scc_Main_Prop_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_scc_Main_Prop_1_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_scc_Main_Nav_2_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KD_scc_Main_Prop_2_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MA_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MA_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MA_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="MA_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_ssc_headerDetail_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_scc_Main_Prop_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_scc_Main_Prop_1_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_scc_Main_Nav_2_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MA_scc_Main_Prop_2_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_VAK_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_VAK_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_VAK_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="Vak_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vak_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vak_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vak_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_P_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_P_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_P_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="P_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ZG_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ZG_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_ZG_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="ZG_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZG_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZG_scc_Property_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZG_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZG_scc_mainnav_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZG_scc_mainprop_1_2_Splitterposition" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_LO_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_LO_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_LO_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="LO_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LO_ssc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LO_ssc_headerDetail_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LO_dp_Property_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LO_scc_mainnav_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LO_scc_mainprop_1_2_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_scc_Property_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_scc_Property_1_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_scc_nav_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vak_scc_nav_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Vak_scc_Property_1_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_OFFER_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_OFFER_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_OFFER_LOCATION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offer_scc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offer_scc_headerinfo_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAINVIEW_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAINVIEW_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MAINVIEW_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_MDLOGING_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MDLOGING_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_MDLOGING_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_UPDATE_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_UPDATE_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_UPDATE_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="SETTING_ENABLE_CV_DROPIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SETTING_ENABLE_SCAN_DROPIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="kd_main_prop_showvacancy_default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SETTING_QUICKSEARCH_WIDTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_QUICKSEARCH_HEIGHT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SETTING_QUICKSEARCH_LOCATION" serializeAs="String">
                <value/>
            </setting>
            <setting name="QuickSearch_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APPLICATION_ssc_main_Splitterposition" serializeAs="String">
                <value>0</value>
            </setting>
        </SPS.MainView.My.MySettings>
    </userSettings>


  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="SPApplicationSoap" closeTimeout="00:01:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:09:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPWOSCustomerUtilitiesSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPWOSEmployeeUtilitiesSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPCustomerPaymentServicesSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPPVLGAVUtilSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPALKUtilSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPBankUtilSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPIBANUtilSoap" />
        <binding name="SPJobsCHVacanciesSoap" />
        <binding name="SPInternVacanciesSoap" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPInternAvamSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPEmployeeTaxInfoServiceSoap" maxReceivedMessageSize="2147483647" />
        <binding name="SPUpdateUtilitiesSoap" maxReceivedMessageSize="2147483647" />
        <binding name="eCallSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPOstJobsCHVacanciesSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPScanJobUtilitySoap" closeTimeout="00:01:00"
          openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPNotificationSoap" closeTimeout="00:01:00" openTimeout="00:05:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SPX28ProfilmatcherSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CrifSoapServiceBindingV1_0">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint binding="customBinding" bindingConfiguration="CrifSoapServiceBindingV1_0"
        contract="DeltavistaWebService.CrifSoapServicePortTypeV1_0"
        name="CrifSoapServicePortV1_0" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPALKUtilSoap"
        contract="SPALKUtilWebService.SPALKUtilSoap" name="SPALKUtilSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPBankUtilSoap"
        contract="SPBankUtilWebService.SPBankUtilSoap" name="SPBankUtilSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPIBANUtilSoap"
        contract="SPIBANUtilWebService.SPIBANUtilSoap" name="SPIBANUtilSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPCustomerPaymentServicesSoap"
        contract="SPCustomerPaymentServicesWebService.SPCustomerPaymentServicesSoap"
        name="SPCustomerPaymentServicesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPJobsCHVacanciesSoap"
        contract="JobsCHVacancyService.SPJobsCHVacanciesSoap" name="SPJobsCHVacanciesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPInternVacanciesSoap"
        contract="InternVacancyService.SPInternVacanciesSoap" name="SPInternVacanciesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPInternAvamSoap"
        contract="InternAvamService.SPInternAvamSoap" name="SPInternAvamSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPInternVacanciesSoap"
        contract="InternStagingVacancyService.SPInternVacanciesSoap"
        name="SPInternVacanciesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="eCallSoap"
        contract="SPeCallWebService.eCallSoap" name="eCallSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPEmployeeTaxInfoServiceSoap"
        contract="EmployeeTaxInfoWebService.SPEmployeeTaxInfoServiceSoap"
        name="SPEmployeeTaxInfoServiceSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPOstJobsCHVacanciesSoap"
        contract="OstJobsCHVacancyService.SPOstJobsCHVacanciesSoap"
        name="SPOstJobsCHVacanciesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPNotificationSoap"
        contract="SPNotificationWebService.SPNotificationSoap" name="SPNotificationSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPWOSCustomerUtilitiesSoap"
        contract="SPWOSCustomerWebService.SPWOSCustomerUtilitiesSoap"
        name="SPWOSCustomerUtilitiesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPWOSEmployeeUtilitiesSoap"
        contract="SPWOSEmployeeWebService.SPWOSEmployeeUtilitiesSoap"
        name="SPWOSEmployeeUtilitiesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPScanJobUtilitySoap"
        contract="SPScanJobWebService.SPScanJobUtilitySoap" name="SPScanJobUtilitySoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPPVLGAVUtilSoap"
        contract="SPPVLGAVUtilWebService.SPPVLGAVUtilSoap" name="SPPVLGAVUtilSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPUpdateUtilitiesSoap"
        contract="SPUpdateUtilitiesService.SPUpdateUtilitiesSoap" name="SPUpdateUtilitiesSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPX28ProfilmatcherSoap"
        contract="SPX28ProfilmatcherWebService.SPX28ProfilmatcherSoap"
        name="SPX28ProfilmatcherSoap" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="SPApplicationSoap"
        contract="SPApplicationWebService.SPApplicationSoap" name="SPApplicationSoap" />
    </client>

  </system.serviceModel>


</configuration>
