<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPSCLUpdate.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPSCLUpdate.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SPSCLUpdate.My.MySettings>
            <setting name="Option_HistoryLevels" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Option_CopySystemFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_CopyHiddenFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmMain_LastPosition" serializeAs="String">
                <value>-1, -1</value>
            </setting>
        </SPSCLUpdate.My.MySettings>
    </userSettings>
    <applicationSettings>
        <SPSCLUpdate.My.MySettings>
            <setting name="ProgUpperPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SPSEnterpriseFolder" serializeAs="String">
                <value>\\server\Spenterprise$</value>
            </setting>
            <setting name="SearchInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IPBlacklist" serializeAs="String">
                <value>"blockedIPs"</value>
            </setting>
        </SPSCLUpdate.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><system.serviceModel>
        <bindings>
					<basicHttpBinding>
						<binding name="SPUpdateUtilitiesSoap" closeTimeout="00:01:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
							<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
							<security mode="None">
								<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
								<message clientCredentialType="UserName" algorithmSuite="Default"/>
							</security>
						</binding>
					</basicHttpBinding>
				</bindings>
        <client>
					<endpoint binding="basicHttpBinding" bindingConfiguration="SPUpdateUtilitiesSoap" contract="SPUpdateUtilitiesService.SPUpdateUtilitiesSoap" name="SPUpdateUtilitiesSoap"/>
				</client>
    </system.serviceModel>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">

		<!-- make sure to set 'Copy To Output Directory' option for this file -->
		<!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

		<variable name="appName" value="sputnik_"/>
    <extensions>
      <add assembly="ReflectSoftware.Insight.Extensions.NLog"/>
    </extensions>
		<targets>
			      <!--<target name="ReflectInsight" xsi:type="ReflectInsight" instanceName="nlogInstance1" displayLevel="true" displayLocation="true" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}"/>-->

			<target name="file" xsi:type="File" layout="${longdate}::${windows-identity}::${level::uppercase=true}::${logger}::${message}::${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" filename="C:\Temp\${appName}/Debug_ ${shortdate}.log" archiveFileName="C:\Temp\Log\Archive\${appName}/debug_ ${shortdate}.{#}.log" archiveEvery="Day" archiveNumbering="Sequence" maxArchiveFiles="30" concurrentWrites="true" keepFileOpen="false"/>

		</targets>

		<rules>
      <!--<logger name="*" minlevel="TRACE" writeTo="ReflectInsight"/>-->
			<logger name="*" minlevel="Trace" writeTo="file"/>
		</rules>

	</nlog>

</configuration>
