<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPOPSearch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SPOPSearch.My.MySettings>
            <setting name="iWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="LV_1_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="Rec_KDNr_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="Rec_OPNr_Size" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filename4Comatic" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filename4SWIFAC" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filepath4SWIFAC" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filename4Factoring" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filepath4Factoring" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filename4Creditreform" serializeAs="String">
                <value/>
            </setting>
            <setting name="Filepath4Creditreform" serializeAs="String">
                <value/>
            </setting>
            <setting name="bComaticWithArtikel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SortBez" serializeAs="String">
                <value/>
            </setting>
            <setting name="Listart" serializeAs="String">
                <value/>
            </setting>
            <setting name="frm_LVLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="ifrmLVHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmLVWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting_hideOPInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_hideRefNr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_hideKreditInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmLibraryInfo_Location" serializeAs="String">
                <value/>
            </setting>
            <setting name="ifrmLibraryInfoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmLibraryInfoWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocation_SearchRec" serializeAs="String">
                <value/>
            </setting>
            <setting name="iSearchRec_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iSearchRec_Height" serializeAs="String">
                <value>0</value>
            </setting>
        </SPOPSearch.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
