<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SP.KD.CustomerMng.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SP.KD.CustomerMng.My.MySettings>
            <setting name="customermng_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customermng_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customermng_frmLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="customermng_iSccMainPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customermng_popup_KeywordsSize" serializeAs="String">
                <value />
            </setting>
            <setting name="customermng_popup_GAVSize" serializeAs="String">
                <value />
            </setting>
            <setting name="customermng_contactSearchExcludePhone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customermng_contactSearchExcludeMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customermng_contactSearchExcludeOffered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customermng_contactSearchExcludeSMS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customermng_properties_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customermng_properties_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customermng_properties_frmLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="newcustomermng_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="newcustomermng_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="newcustomermng_frmLocation" serializeAs="String">
                <value />
            </setting>
        </SP.KD.CustomerMng.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPCustomerPaymentServicesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44721/SPCustomerPaymentServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="SPCustomerPaymentServicesSoap"
                contract="SPCustomerPaymentServicesWebService.SPCustomerPaymentServicesSoap"
                name="SPCustomerPaymentServicesSoap" />
        </client>
    </system.serviceModel>
</configuration>
