<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPS.SYS.TableSettingMng.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <SPS.SYS.TableSettingMng.My.MySettings>
            <setting name="frmLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationMonthClose" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightMonthClose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthMonthClose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationTables" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightTables" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthTables" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationDeletedrec" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightDeletedrec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthDeletedrec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationMandant" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightMandant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthMandant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationChildeducation" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightChildeducation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthChildeducation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationKTGForLmv" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightKTGForLmv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthKTGForLmv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationTSpesenForLmv" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightTSpesenForLmv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthTSpesenForLmv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationLAStamm" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightLAStamm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthLAStamm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationTable" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightTable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthTable" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocationUserRights" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmHeightUserRights" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmWidthUserRights" serializeAs="String">
                <value>0</value>
            </setting>
        </SPS.SYS.TableSettingMng.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPPVLGAVUtilSoap"/>
                <binding name="SPEmployeeTaxInfoServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPPVLGAVUtil.asmx" binding="basicHttpBinding" bindingConfiguration="SPPVLGAVUtilSoap" contract="SPPVLGAVUtilWebService.SPPVLGAVUtilSoap" name="SPPVLGAVUtilSoap"/>
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="SPEmployeeTaxInfoServiceSoap" contract="EmployeeTaxInfoWebService.SPEmployeeTaxInfoServiceSoap" name="SPEmployeeTaxInfoServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
