<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPMASearch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!-- <assemblyIdentity name="listlabel14VS2005" publicKeyToken="a7a30592cb4a94be" culture="neutral" />
        <bindingRedirect oldVersion="14.2.0.18012" newVersion="14.4.0.24072"/>
         
        <codeBase version="14.2.0.18012" href="V02\listlabel14VS2005.dll"/>
        <codeBase version="14.4.0.24072" href="V04\listlabel14VS2005.dll"/>
-->
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="SPSTapi" publicKeyToken="21600BADCFC43314" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.3735.35409" newVersion="1.0.3735.35409"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>

  <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <userSettings>
    <SPMASearch.My.MySettings>
      <setting name="ifrmWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifrmHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frm_Location" serializeAs="String">
        <value/>
      </setting>
      <setting name="LV_1_Size" serializeAs="String">
        <value/>
      </setting>
      <setting name="ifrmWidth_2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifrmHeight_2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frm_Location_2" serializeAs="String">
        <value/>
      </setting>
      <setting name="LV_2_Size" serializeAs="String">
        <value/>
      </setting>
      <setting name="LV_3_Size" serializeAs="String">
        <value/>
      </setting>
      <setting name="ExportFields" serializeAs="String">
        <value/>
      </setting>
      <setting name="Filename4CSV" serializeAs="String">
        <value/>
      </setting>
      <setting name="TrennzeichenCSV" serializeAs="String">
        <value/>
      </setting>
      <setting name="DarstellungszeichenCSV" serializeAs="String">
        <value/>
      </setting>
      <setting name="bOpen_P_1_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOpen_P_1_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOpen_P_1_3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOpen_P_1_4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOpen_P_2_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOpen_P_2_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pcc_BerufgruppenSize" serializeAs="String">
        <value/>
      </setting>
      <setting name="pcc_FachbereichSize" serializeAs="String">
        <value/>
      </setting>
      <setting name="bOpen_P_3_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bOpen_P_3_2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ifrmLVWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifrmLVHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frm_LVLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="SortBez" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_MANr" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeefullname" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeestreet" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeeaddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeepostcode" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeetelefon" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeemobile" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeequalification" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeeemail" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeebirthday" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeeahvnumber" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeepermission" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeepermissionuntil" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeenationality" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeezivilstand" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeecanton" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeefstate" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeesstate" serializeAs="String">
        <value/>
      </setting>
      <setting name="bShowColumn_employeeadvisor" serializeAs="String">
        <value/>
      </setting>
      <setting name="frmLibraryInfo_Location" serializeAs="String">
        <value/>
      </setting>
      <setting name="ifrmLibraryInfoHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ifrmLibraryInfoWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frmLocation_SearchRec" serializeAs="String">
        <value/>
      </setting>
      <setting name="iSearchRec_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iSearchRec_Height" serializeAs="String">
        <value>0</value>
      </setting>
    </SPMASearch.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
