<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProcessStarter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <ProcessStarter.My.MySettings>
      <setting name="FileFilter" serializeAs="String">
        <value>*.pdf</value>
      </setting>
      <setting name="DirectoryToListen" serializeAs="String">
        <value>C:\temp\ToImport</value>
      </setting>
      <setting name="TemporaryFolder" serializeAs="String">
        <value>C:\temp\</value>
      </setting>
      <setting name="ProcessedScannedDocuments" serializeAs="String">
        <value>C:\temp\ProcessedScannedDocuments</value>
      </setting>
      <setting name="NotifyOnFileConversion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyOnDispose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyEMailTo" serializeAs="String">
        <value>sputnik_info@sputnik-it.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>mail.sputnik-it.com</value>
      </setting>
      <setting name="WorkingForWebService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScanJobsConnectionString" serializeAs="String">
        <value>Data Source=VM-12-SQL-2\SQLSERVER2017;Initial Catalog="spScanJobs";Integrated Security=True</value>
      </setting>
    </ProcessStarter.My.MySettings>
  </applicationSettings>
</configuration>
