<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SP.ES.PrintUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <SP.ES.PrintUtility.My.MySettings>
            <setting name="iHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="LV_ColumnWidth" serializeAs="String">
                <value/>
            </setting>
        </SP.ES.PrintUtility.My.MySettings>
    </userSettings>
</configuration>
