<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SPS.Export.Listing.Utility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SPS.Export.Listing.Utility.My.MySettings>
            <setting name="Filename4CSV" serializeAs="String">
                <value />
            </setting>
            <setting name="TrennzeichenCSV" serializeAs="String">
                <value />
            </setting>
            <setting name="DarstellungszeichenCSV" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFields" serializeAs="String">
                <value />
            </setting>
            <setting name="frmParfiondLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="frmCSVLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="iParifonHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iParifondWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iCSVHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iCSVWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Filename4AbaLO" serializeAs="String">
                <value />
            </setting>
            <setting name="RefAsFKSOLLAba" serializeAs="String">
                <value />
            </setting>
            <setting name="frmAbaLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="iAbaHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iAbaWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Filename4AbaOP" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename4AbaZE" serializeAs="String">
                <value />
            </setting>
            <setting name="frmSesamLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="iSesamWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iSesamHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Filename4SesamLO" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename4Doc2eCall" serializeAs="String">
                <value />
            </setting>
            <setting name="iDoc2eCallHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDoc2eCallWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frmDoc2eCallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="sendeCall2KD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendeCall2Zhd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendeCallOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrennzeichenAba" serializeAs="String">
                <value />
            </setting>
            <setting name="ifrmSMSWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ifrmSMSHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="frm_SMS_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="ecallLogs_ifrmWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ecallLogs_ifrmHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ecallLogs_frmLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename4CresusOP" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename4CresusLO" serializeAs="String">
                <value />
            </setting>
            <setting name="Filename4CresusZE" serializeAs="String">
                <value />
            </setting>
            <setting name="frmCresusLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="iCresusHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iCresusWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrennzeichenCresus" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportInvoiceData" serializeAs="String">
                <value>False</value>
            </setting>
        </SPS.Export.Listing.Utility.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SPCustomerPaymentServicesSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="SPPVLGAVUtilSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx" binding="basicHttpBinding" bindingConfiguration="SPCustomerPaymentServicesSoap" contract="SPCustomerPaymentServicesWebService.SPCustomerPaymentServicesSoap" name="SPCustomerPaymentServicesSoap"/>
            <endpoint address="http://asmx.domain.com/wsSPS_services/SPPVLGAVUtil.asmx" binding="basicHttpBinding" bindingConfiguration="SPPVLGAVUtilSoap" contract="SPPVLGAVUtilWebService.SPPVLGAVUtilSoap" name="SPPVLGAVUtilSoap"/>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
