<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPS.SYS.DocUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!-- <assemblyIdentity name="listlabel14VS2005" publicKeyToken="a7a30592cb4a94be" culture="neutral" />
        <bindingRedirect oldVersion="14.2.0.18012" newVersion="14.4.0.24072"/>
         
        <codeBase version="14.2.0.18012" href="V02\listlabel14VS2005.dll"/>
        <codeBase version="14.4.0.24072" href="V04\listlabel14VS2005.dll"/>
-->
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="SPSTapi" publicKeyToken="21600BADCFC43314" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.3735.35409" newVersion="1.0.3735.35409"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraEditors.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraGrid.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Printing.v12.2.Core" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Utils.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.XtraLayout.v12.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.2.8.0" newVersion="12.2.8.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>

  <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
    <SPS.SYS.DocUtility.My.MySettings>
      <setting name="iTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frmLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="LV_1_Size" serializeAs="String">
        <value/>
      </setting>
      <setting name="iTop_2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="iLeft_2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frmLocation_2" serializeAs="String">
        <value/>
      </setting>
    </SPS.SYS.DocUtility.My.MySettings>
  </userSettings>
</configuration>
